<div class="page-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="md-tabs md-card-tabs">
        <div class="card auth-box">
          <div class="card-block text-center">
            <form action="javascript:">
              <h1>Offline</h1>
              <h2 class="m-b-15 text-muted">Oops! Under Construction !!!</h2>
              <div class="left-icon-control">
                <input type="text" class="form-control form-control-lg" placeholder="Try a new Search">
                <div class="form-icon">
                  <i class="icofont icofont-search"></i>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
