.btn-outline-primary {
    padding: 5px 16px !important;
}

.btn-outline-secondary {
    padding: 5px 16px !important;
}

.btn {
    min-width: 150px !important;
}

.form-control::placeholder {
    opacity: 1 !important;
    color: black !important; 
}