<p><strong>SYARAT DAN KETENTUANSYARAT DAN KETENTUAN LAYANAN&nbsp;</strong><strong><em>ONLINE QUERY BANK GUARANTEE
      APPLICATION</em></strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>1. DEFINISI DAN INTERPRETASI</strong></p>
<p>1.1. Dalam Syarat dan Ketentuan ini, kata-kata dan ungkapan-ungkapan berikut memiliki arti yang ditetapkan di bawah
  ini kecuali konteksnya menentukan lain.</p>
<p>&quot;<strong>Syarat dan Ketentuan&</strong> &quot; berarti Syarat dan Ketentuan&nbsp;<em>Online Query Bank
    Guarantee Application</em> ini dan semua dokumen dan syarat-syarat tambahan yang dikeluarkan oleh PT Bank UOB
  Indonesia (UOBI) sebagaimana mungkin dapat diberlakukan oleh UOBI dari waktu ke waktu.</p>
<p>&quot;<strong>Aplikasi</strong>&quot; berarti aplikasi pendaftaran dan perubahan layanan&nbsp;<em>Online Query Bank
    Guarantee Application</em>.</p>
<p>&quot;<strong>Hukum yang Berlaku</strong>&quot; berarti semua peraturan perundang-undangan yang berlaku, Undang
  Undang, peraturan, petunjuk, surat edaran, pemberitahuan (baik dari badan atau otoritas pemerintah atau organisasi
  yang mengatur diri sendiri dalam kaitannya dengan UOBI adalah seorang anggota, atau yang lainnya), baik di dalam
  maupun di luar Indonesia yang berlaku untuk UOBI dan/atau Nasabah dan/atau pada mana UOBI dan/atau Nasabah tunduk.</p>
<p>&quot;<strong>Hari Kerja Perbankan</strong>&quot; berarti setiap hari di mana UOBI terbuka untuk melakukan bisnis di
  Indonesia.</p>
<p>&quot;<strong><em>Online Query Bank Guarantee Application</em></strong>&quot; berarti sistem layanan perbankan
  berbasis web yang disediakan oleh UOBI yang memungkinkan Nasabah untuk melakukan validasi keabsahan atas Bank Garansi
  yang diterbitkan oleh UOBI melalui suatu peralatan elektronik atau telekomunikasi atau media apapun (termasuk
  internet, komputer atau peralatan elektronik atau telekomunikasi lainnya apapun, terminal atau sistem atau yang
  lainnya).</p>
<p>&quot;<strong>Nasabah</strong>&quot; berarti Pihak yang menyetujui Syarat dan Ketentuan ini.</p>
<p>&quot;<strong>Administrator Perusahaan</strong>&quot; berarti orang yang ditunjuk oleh Nasabah untuk mengelola dan
  mengendalikan akses dan menggunakan <em>Online Query Bank Guarantee Application</em> dan/atau Layanan oleh Para
  Penandatangan Perusahaan dan Pengguna Perusahaan atas nama Nasabah&nbsp;</p>
<p>&quot;<strong>Penandatangan Perusahaan</strong>&quot; berarti seseorang yang diberikan wewenang oleh Nasabah (baik
  sendiri-sendiri atau bersama-sama dengan orang atau orang-orang lain) untuk menggunakan dan mengoperasikan Layanan
  untuk dan atas nama Nasabah.</p>
<p>&rdquo;<strong>Pengguna Perusahaan</strong>&rdquo; berarti orang yang diberikan wewenang oleh Nasabah dan/atau
  Administrator Perusahaan untuk melakukan kegiatan validasi keabashan Bank Garansi yang diterbitkan oleh UOBI melalui
  layanan ini.</p>
<p>&quot;<strong>Pengguna Nasabah</strong>&quot; berarti yang manapun dari Administrator Perusahaan, Penandatangan
  Perusahaan dan Pengguna Perusahaan yang diberikan wewenang oleh Nasabah dari waktu ke waktu untuk mengakses dan
  menggunakan <em>Online Query Bank Guarantee Application</em>.
  Untuk menghindari keragu-raguan, istilah &quot;Pengguna Nasabah&quot; mencakup orang yang ditunjuk dan diberi wewenang
  oleh Nasabah sebagai (a) baik Penandatangan Perusahaan dan Administrator Perusahaan; dan (b) baik Pengguna Perusahaan
  dan Administrator Perusahaan, tergantung bagaimana kasusnya.</p>
<p>&quot;<strong>Validasi</strong>&quot; berarti setiap permohonan pengecekan keabsahan Bank Garansi yang diterbitkan
  oleh UOBI yang disampaikan kepada UOBI melalui <em>Online Query Bank Guarantee Application</em>:</p>
<p>(a) oleh Nasabah atau Penandatangan Perusahaan atas nama Nasabah; atau</p>
<p>(b) yang mana bahwa UOBI atau Pejabat dari UOBI secara wajar mempercayai bahwa permohonan, wewenang atau instruksi
  itu adalah dari Nasabah atau Penandatangan Perusahaan yang diberikan atas nama Nasabah;</p>
<p>(c) dengan menggunakan tanda tangan elektronik (sebagaimana ditentukan dalam The Electronic Transactions Act
  sebagaimana diubah atau ditambah dari waktu ke waktu, berikut dengan setiap peraturan pelaksana terkait) dari Nasabah
  atau Penandatangan Perusahaan atas nama Nasabah.</p>
<p>&quot;<strong>Kerugian</strong>&quot; berarti setiap dan semua kesalahan, hutang, kerugian (termasuk kerugian tidak
  langsung dan konsekuensial), ganti kerugian, biaya, beban dan/atau pengeluaran yang bersifat apapun atau bagaimanapun
  timbul, termasuk biaya hukum atas dasar ganti rugi penuh.</p>
<p>&quot;<strong>Pejabat</strong>&quot; berarti setiap direktur, pejabat, karyawan atau petugas dari setiap UOBI.</p>
<p>&quot;<strong>Kata Sandi</strong>&quot; berarti setiap nomor, kata sandi atau nama-nama, ungkapan-ungkapan,
  simbol-simbol atau kode-kode baik yang diterbitkan atau diberikan oleh UOBI kepada Pengguna Nasabah atau yang lainnya,
  atau dipilih oleh Pengguna Nasabah yang memungkinkan dirinya untuk mengakses dan/atau menggunakan Layanan atas nama
  atau untuk kepentingan Nasabah dan termasuk nomor, kata sandi, nama, ungkapan, simbol atau kode apapun lainnya yang
  diterbitkan, diberikan atau dipilih sebagai pengganti daripadanya. Untuk menghindari keragu-raguan,&nbsp;</p>
<p>&quot;<strong>Orang</strong>&quot; termasuk setiap orang perorangan, firma, perhimpunan orang-orang, perusahaan atau
  badan hukum..</p>
<p>&quot;<strong>Layanan</strong>&quot; berarti setiap permohonan validasi keabsahan Bank Garansi yang diterbitkan oleh
  UOBI kepada Nasabah yang menggunakan <em>Online Query Bank Guarantee Application</em> (termasuk namun tidak terbatas
  pada pemberian kewenangan kepada Pengguna Nasabah untuk menyetujui atas nama Nasabah terhadap hal-hal yang diuraikan
  dalam Syarat dan Ketentuan ini).</p>
<p>&quot;<strong>UOBI</strong>&quot; berarti PT Bank UOB Indonesia beserta cabang-cabangnya, tergantung bagaimana
  kasusnya. Sebagaimana konteksnya mungkin mensyaratkan, UOBI berarti penyedia layanan <em>Online Query Bank Guarantee
    Application</em>.</p>
<p>&quot;<strong>ID Pengguna</strong>&quot; berarti karakter atau nomor identifikasi (baik merupakan angka-alfabet atau
  bukan) yang diterbitkan dan diberikan oleh UOBI kepada Nasabah atau dengan cara lainnya dipilih oleh Nasabah untuk
  digunakan oleh Pengguna Nasabah untuk mengakses layanan <em>Online Query Bank Guarantee Application</em> yang
  memungkinkan UOBI untuk memverifikasi dan mengotentikasi identitas dari Pengguna Nasabah tersebut atas aksesnya
  terhadap <em>Online Query Bank Guarantee Application</em> dan Layanannya dan mencakup setiap karakter dan angka
  lainnya yang diberikan atau dipilih sebagai penggantinya.</p>
<p>&quot;<strong>Bank Garansi</strong>&quot; berarti&nbsp;suatu janji tertulis baik itu bersyarat atau tidak bersyarat,
  yang diterbitkan oleh bank untuk kepentingan nasabah, yaitu berupa jaminan seandainya pemohon tidak memenuhi kewajiban
  berdasarkan kontrak yang mendasarinya untuk melakukan klaim atas BG, bank penerbit akan melakukan penggantian kerugian
  secara finansial sesuai dengan syarat-syarat BG. Atas dasar BG, penerima mendapat ganti rugi untuk suatu nilai yang
  tercantum terhadap presentasi suatu permintaan tertulis dan/atau dokumen lainnya sebagaimana diminta dalam BG, sebagai
  pembuktian bahwa&nbsp;pemohon&nbsp;telah gagal memenuhi kewajibannya atas dasar kontrak yang mendasarinya.</p>
<p>&nbsp;</p>
<p><strong>2. Penerapan Syarat dan Ketentuan</strong></p>
<p>2.1 Syarat dan Ketentuan ini merupakan kesepakatan antara Nasabah dan &nbsp;UOBI dan berlaku tidak hanya yang
  berkaitan dengan Layanan yang saat ini yang diminta atau diajukan oleh atau untuk Nasabah, tetapi juga untuk semua
  layanan lain yang mungkin dibuka di kemudian hari oleh Nasabah.</p>
<p>&nbsp;</p>
<p><strong>3. Layanan</strong></p>
<p>3.1 Layanan memungkinkan Nasabah untuk:</p>
<p>(a) melakukan validasi keabsahan Bank Garansi yang diterbitkan oleh UOBI secara online.</p>
<p>(b) melihat rekap Bank Garansi yang diterbtikan oleh UOBI kepada Nasabah selama 1 tahun terakhir</p>
<p>&nbsp;</p>
<p><strong>4. Kata Sandi dan ID pengguna</strong></p>
<p>4.1 Nasabah menyatakan kesanggupan untuk memastikan:</p>
<p>(a) bahwa tidak ada seorangpun yang boleh diizinkan atau boleh mempunyai akses atau pengetahuan mengenai setiap ID
  Pengguna atau Kata Sandi dari setiap Pengguna Nasabah kecuali Pengguna Nasabah tersebut;</p>
<p>(b) bahwa setiap Pengguna Nasabah:</p>
<p>(i) tidak boleh mengungkapkan kepada orang lain mengenai ID Pengguna dan/atau Kata Sandi dari Pengguna Nasabah
  dimaksud;</p>
<p>(ii) harus segera menghafal/mengingat ID dan/atau Kata Sandi tersebut dan menghancurkan amplop atau dokumen pada mana
  ID dan Kata Sandi Pengguna tersebut dituliskan;</p>
<p>(iii) tidak boleh mencatat ID dan/atau Kata Sandi Pengguna tersebut dalam bentuk apapun; dan</p>
<p>(iv) harus dengan segera setelah Pengguna Nasabah tersebut mempunyai alasan untuk percaya bahwa seseorang mungkin
  telah mengetahui mengenai ID dan/atau Kata Sandi Pengguna, memberitahukan kepada UOBI.</p>
<p>&nbsp;</p>
<p><strong>5. Keamanan</strong></p>
<p>5.1 Nasabah setuju untuk mematuhi dan untuk memastikan bahwa Pengguna Nasabah mematuhi syarat-syarat dari Syarat dan
  Ketentuan ini dan setiap instruksi atau rekomendasi lainnya yang mungkin dikeluarkan oleh setiap UOBI kepada Nasabah
  mengenai keamanan berkaitan dengan penggunaan <em>Online Query Bank Guarantee Application</em> dan Layanannya.</p>
<p>5.2 Nasabah mengakui bahwa keamanan adalah perhatian paling utama dalam mendapatkan akses ke dan penggunaan dari
  <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya dan Nasabah setuju bahwa Nasabah bertanggung
  jawab sepenuhnya untuk melakukan&nbsp;<em>set-up</em>, pengelolaan dan peninjauan atas pengaturan keamanannya
  berkaitan dengan akses ke dan penggunaan dari <em>Online Query Bank Guarantee Application</em> dan Layanannya,
  telekomunikasi, komputer atau peralatan elektronik lainnya atau sistem dan informasi yang tersimpan di dalamnya dan
  kendali atas ID Pengguna, Kata Sandi, dari Pengguna Nasabah dan akses ke <em>Online Query Bank Guarantee
    Application</em> yang dibuat atau dilakukan, atau ditujukan untuk dibuat atau dilakukan, oleh Nasabah atau Pengguna
  Nasabah. Nasabah bertanggung jawab untuk menanggung resiko atas penggunaan yang tidak sah dan/atau akses ke <em>Online
    Query Bank Guarantee Application</em> dan/atau ke Layanannya, telekomunikasi, komputer atau peralatan elektronik
  lainnya atau sistem dan informasi yang tersimpan di dalamnya, ID Pengguna, Kata Sandi.</p>
<p>5.3 Nasabah dan/atau Pengguna Nasabah harus memberitahukan kepada UOBI yang relevan dengan segera jika Nasabah atau
  suatu Pengguna Nasabah mengetahui atau mencurigai adanya akses yang tidak sah ke <em>Online Query Bank Guarantee
    Application</em> dan/atau
  Layanannya atau suatu transaksi atau Instruksi yang tidak sah atau jika Nasabah mencurigai adanya orang lain yang
  mengetahui ID Pengguna dan Kata Sandi dari satu atau lebih Pengguna Nasabah. Dalam hal suatu pelanggaran atau dugaan
  adanya pelanggaran
  keamanan, Nasabah harus memastikan bahwa semua Pengguna Nasabah mengubah Kata Sandi mereka dengan segera. Nasabah
  setuju untuk segera memenuhi semua permohonan yang wajar untuk bantuan dari UOBI dan/atau dari polisi untuk mencoba
  memulihkan setiap
  kerugian atau mengidentifikasi pelanggaran keamanan yang aktual atau potensial.</p>
<p>5.4 Jika Pengguna Nasabah tidak lagi bekerja pada Nasabah atau tidak lagi diberi wewenang atau diperintahkan oleh
  Nasabah untuk menggunakan <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya karena alasan apapun
  atau jika Nasabah mencurigai
  suatu ketidakwajaran pada salah satu pihak dari Pengguna Nasabah sehubungan dengan penggunaan <em>Online Query Bank
    Guarantee Application</em> dan/atau Layanannya, Nasabah harus segera:</p>
<p>(a) menginformasikan kepada UOBI mengenai setiap kemungkinan yang disebut di atas;</p>
<p>(b) mengambil semua langkah untuk memastikan bahwa Pengguna Nasabah digantikan; dan</p>
<p>(c) mencegah akses selanjutnya ke <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya, termasuk
  namun tidak terbatas pada mengajukan permohonan atau instruksi kepada UOBI untuk mencabut kembali ID Pengguna dan Kata
  Sandi dari Pengguna
  Nasabah.</p>
<p>5.5 Nasabah dengan ini meminta dan memberikan wewenang kepada UOBI dari waktu ke waktu tanpa diperlukan kewenangan
  atau pemberitahuan lebih lanjut dari Nasabah untuk bertindak atas setiap permohonan atau instruksi untuk me-reset
  setiap ID Pengguna dan
  Kata Sandi. Selain itu, Nasabah setuju bahwa UOBI tidak bertanggung jawab kepada Nasabah atau setiap pihak ketiga atas
  setiap kerugian atau kerusakan yang diderita oleh Nasabah atau setiap pihak ketiga yang timbul dari permohonan atau
  instruksi demikian
  yang tidak sah atau yang menipu.</p>
<p>&nbsp;</p>
<p><strong>6. Kewajiban-kewajiban Lainnya dari Nasabah</strong></p>
<p>6.1 Nasabah tidak boleh menggunakan atau mengungkapkan suatu materi dan/atau informasi di Situs Web yang berkaitan
  dengan <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya selain dari mengakses dan menggunakan
  <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya. Selain itu, Nasabah harus memastikan bahwa tidak
  ada Pengguna Nasabah yang boleh menggunakan atau mengungkapkan suatu materi dan/atau informasi di Situs Web yang
  berkaitan dengan <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya selain dari mengakses dan
  menggunakan <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya. Nasabah selanjutnya menyatakan
  kesanggupan atau berjanji untuk tidak mereproduksi, menjual, mendistribusikan atau dengan
  cara apapun juga mengizinkan pihak ketiga untuk mendapat akses ke materi yang disebut di atas dan/atau informasi yang
  diberikan oleh UOBI pada atau melalui <em>Online Query Bank Guarantee Application</em>.</p>
<p>6.2 Hak cipta di dalam dan isi yang tersimpan dalam Situs Web (kecuali informasi yang berkaitan dengan data
  &nbsp;Nasabah) dimiliki oleh atau dilisensikan/diizinkan untuk digunakan oleh UOBI. Tidak ada bagian atau
  bagian-bagian dari isi tersebut dapat
  direproduksi, didistribusikan, dipublikasikan, dimodifikasi, ditampilkan, disiarkan, ditautkan atau dikirim dengan
  cara apapun atau dengan sarana apapun disimpan dalam sistem pencarian informasi tanpa persetujuan tertulis dari UOBI.
  Merek dagang dan
  layanan yang ditampilkan pada Situs Web ini adalah milik tunggal dan eksklusif dari UOBI. Tidak ada hak atau lisensi
  yang diberikan untuk setiap reproduksi atau penggunaan merek dagang dan layanan tersebut.</p>
<p>6.3 Dalam hal bahwa Nasabah, atau salah satu dari Pengguna Nasabah menerima atau menampilkan/memunculkan data atau
  informasi apapun dari <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya yang tidak dimaksudkan
  untuk Nasabah, Nasabah
  harus segera memberitahukan kepada UOBI yang terkait, dan memastikan bahwa UOBI diberitahukan mengenai diterimanya
  atau ditampilkannya/dimunculkannya informasi demikian, dan menghapus dan menghancurkan dan memastikan penghapusan dan
  penghancuran informasi
  yang demikian.&nbsp;</p>
<p>6.4 Nasabah harus memastikan bahwa:</p>
<p>(a) seseorang yang ditunjuk oleh Nasabah sebagai Administrator Perusahaan mempunyai pengetahuan dan keterampilan yang
  memadai untuk secara tepat mengoperasikan dan memelihara semua peralatan dan perangkat lunak yang dipasang atau
  digunakan oleh Nasabah
  untuk memungkinkan Nasabah mendapat akses dan menggunakan <em>Online Query Bank Guarantee Application</em> dan
  Layanan;</p>
<p>(b) setiap Administrator Perusahaan memperoleh pengetahuan penuh dan lengkap mengenai semua fitur
  dan&nbsp;<em>setting/</em>pengaturan dari semua perangkat lunak <em>Online Query Bank Guarantee Application</em>
  sebelum Nasabah mulai menggunakan <em>Online Query Bank Guarantee Application</em> dan/atau Layanannya;</p>
<p>(c) setiap Administrator Perusahaan harus mengoperasikan dan memelihara semua peralatan dan perangkat &nbsp;lunak
  dimaksud dalam Klausul 6.4 (a) di atas secara kompeten dan benar dan sesuai dengan persyaratan Nasabah dan dengan
  prosedur dan persyaratan
  sebagaimana yang mungkin ditetapkan dari waktu ke waktu oleh UOBI sehubungan dengan <em>Online Query Bank Guarantee
    Application</em> dan/atau Layanannya; dan</p>
<p>(d) dimana <em>Online Query Bank Guarantee Application</em> disediakan untuk setiap perusahaan Nasabah yang terkait,
  Nasabah</p>
<p>harus menunjuk setidaknya seorang Administrator Perusahaannya sebagai seorang administrator perusahaan dari semua
  korporasi lainnya.</p>
<p>6.5 Nasabah bertanggung jawab terhadap semua tindakan dari Administrator Perusahaan tersebut.</p>
<p>&nbsp;</p>
<p><strong>7. Para Penandatangan dari Perusahaan, Perubahan Mandat dan Keputusan Korporasi</strong></p>
<p>7.1 Syarat dan Ketentuan ini harus berlaku dan terus berlaku tanpa memperhatikan mandat apapun dari Nasabah yang
  mungkin telah diberikan atau yang mungkin kemudian diberikan kepada atau diterima oleh UOBI sehubungan dengan suatu
  Layanan (baik yang saat
  ini atau selanjutnya dipertahankan/dipelihara pada Bank).</p>
<p>7.2 Untuk tujuan dari Klausul 7.3, istilah &quot;Perubahan Mandat&quot; berarti setiap penambahan, penghentian,
  penghapusan dari daftar atau penggantian seseorang sebagai seorang Penandatangan Perusahaan atau setiap amandemen,
  perubahan atau revisi terhadap
  ruang lingkup, cakupan atau batas dari kewenangan yang diberikan kepada seorang Penandatangan Perusahaan oleh Nasabah.
</p>
<p>7.3 UOBI tidak mempunyai kewajiban apapun untuk bertindak dan melaksanakan suatu Perubahan Mandat apapun:</p>
<p>(a) unless a written notification of the Amended Mandate has been given to UOBI in a form as specified by or
  which is acceptable by UOBI and based on operasional procedures of UOBI; and</p>
<p>(b) unless and until UOBI believes that the said Amended Mandate has been duly authorized by the Customer.</p>
<p>7.4In the event that UOBI is informed by the Customer that the Board of Directors of the Customer has adopted a
  resolution or the Customer has signed a document to authorize a person or persons to take any actions or to make and
  enter into any Terms and Conditions on behalf of the Customer or to confer any authority upon a person or persons to
  act in any way on behalf of the Customer, UOBI shall be entitled to deem that the said authority has been validly
  conferred upon the said person or persons and it has not been revoked by the Customer until the Customer submits a
  notification of revocation to UOBI.</p>
<p>&nbsp;</p>
<p><strong>8. &nbsp; Biaya Layanan</strong></p>
<p>8.1 Tidak ada biaya yang dikenakan untuk layanan ini. Apabila ada perubahan di kemudian hari, akan disampaikan secara
  tertulis &nbsp;via surat &nbsp;kepada Nasabah.</p>
<p>&nbsp;</p>
<p><strong>9. Wewenang untuk Mengungkapkan Informasi</strong></p>
<p>9.1 Nasabah secara tegas dan tidak dapat ditarik kembali/dibatalkan, memberikan kuasa/wewenang dan izin kepada UOBI
  dan masing-masing dari pejabat-pejabatnya untuk pada saat kapanpun dan dari waktu ke waktu menginformasikan,
  memberitahukan atau mengungkapkan
  setiap dan semua keterangan dan informasi yang berkaitan dengan Nasabah, suatu Pengguna Nasabah, suatu Rekening atau
  suatu Instruksi kepada yang manapun dari orang-orang berikut ini:</p>
<p>(a) setiap perusahaan yang terkait dengan UOBI;</p>
<p>(b) setiap Afiliasi Nasabah yang mengakses dan memanfaatkan <em>Online Query Bank Guarantee Application</em> dan
  Layanan;</p>
<p>(c) semua pengadilan, lembaga pemerintah dan otoritas yang sah di Indonesia dan di tempat-tempat lainnya di mana
  pengungkapan tersebut disyaratkan oleh undang-undang/hukum;</p>
<p>(d) setiap orang yang yang dianggap tepat dengan itikad baik oleh UOBI atau Pejabat manapun untuk tujuan memberikan
  Layanan, termasuk setiap agen, kontraktor atau penyedia layanan pihak ketiga yang telah sepakat untuk melakukan
  pekerjaan atau jasa untuk
  UOBI sehubungan dengan dan yang mempengaruhi atau mungkin mempengaruhi pengoperasian layanan ini;</p>
<p>Untuk tujuan dari Klausul 9.1 ini, &quot;Afiliasi Nasabah&quot; berarti setiap orang, badan hukum, kemitraan, firma
  atau badan lain di mana Nasabah tersebut secara langsung atau tidak langsung:</p>
<p>(i) memiliki lebih dari setengah modal atau aset bisnis; atau</p>
<p>(ii) memiliki kuasa untuk melaksanakan 50% (lima puluh persen) atau lebih hak suara dalam badan tersebut; atau</p>
<p>(iii) memiliki kuasa yang sah untuk mengarahkan atau membuat arah atau manajemen umum atau urusan dari badan
  tersebut; atau</p>
<p>(iv) memiliki kuasa untuk mengangkat lebih dari setengah anggota dewan pengawas, dewan direksi atau badan-badan yang
  secara sah mewakili badan demikian; atau</p>
<p>(v) memiliki hak untuk mengelola bisnis dari badan demikian.</p>
<p>9.2 Ketentuan dari Klausul 9.1 adalah sebagai tambahan terhadap wewenang dan izin lainnya dari Nasabah kepada UOBI
  manapun berkenaan dengan penggunaan dan/atau pengungkapan informasi yang berkaitan
  dengan Nasabah, suatu Pengguna Nasabah, suatu Layanan atau suatu Instruksi.</p>
<p>&nbsp;</p>
<p><strong>10. Penghentian Sementara, Perubahan dan Pengakhiran <em>Online Query Bank Guarantee Application</em> dan
    Ketentuan-Ketentuan Lainnya</strong></p>
<p>10.1 <em>Online Query Bank Guarantee Application</em> dapat setiap saat dihentikan sementara atau diakhiri oleh UOBI
  berdasarkan pertimbangan dari Bank yang diberikan kepada Nasabah.</p>
<p>10.2 <em>Online Query Bank Guarantee Application</em> dapat setiap saat diubah oleh UOBI baik berkenaan dengan setiap
  Layanan atau setiap layanan yang diberikan melalui <em>Online Query Bank Guarantee Application</em> atau umumnya
  dengan memberikan pemberitahuan
  mengenai hal tersebut kepada Nasabah.</p>
<p>10.3 Nasabah dapat mengakhiri Syarat dan Ketentuan ini dengan setidaknya memberikan 30 (tiga puluh) hari
  pemberitahuan tertulis sebelumnya mengenai hal itu kepada UOBI manapun.</p>
<p>10.4 Pengakhiran harus tanpa mengurangi hak apapun dari pihak manapun yang mungkin telah diperoleh sampai dengan
  tanggal pengakhiran yang sedemikian dan hak untuk mengakhiri Syarat dan Ketentuan ini tidak dimaksudkan untuk
  menjadikan eksklusif tetapi
  akan menjadi tambahan terhadap setiap pemulihan atau hak lainnya yang ada sekarang atau yang akan ada di kemudian
  hari.</p>
<p>10.5 Nasabah harus memastikan bahwa tidak satupun, baik Nasabah, Pengguna Nasabah, setiap karyawan, agen atau wakil
  yang melakukan apapun, pada atau setelah pengakhiran Syarat dan Ketentuan ini yang akan mengakibatkan keamanan
  <em>Online Query Bank Guarantee Application</em> atau sistem atau keamanan dari nasabah <em>Online Query Bank
    Guarantee Application</em> lainnya menjadi diketahui/disusupi.</p>
<p>10.6 Apabila Nasabah menggunakan suatu Layanan yang diberikan melalui <em>Online Query Bank Guarantee
    Application</em>, maka Nasabah tersebut dianggap telah menyetujui semua syarat dan ketentuan yang berkaitan dengan
  pemberian Layanan tersebut yang kemudian
  diterapkan oleh UOBI yang memberikan Layanan dimaksud.</p>
<p>&nbsp;</p>
<p><strong>11. Pengecualian</strong></p>
<p>11.1 Sebagai tambahan dan tanpa mengurangi hak atau pemulihan lainnya yang mungkin dimiliki oleh UOBI manapun
  (menurut hukum atau yang lainnya), selama UOBI tersebut bertindak dengan itikad baik dalam bertindak berdasarkan atau
  melakukan Instruksi apapun,
  bahwa UOBI tidak akan bertanggung jawab terhadap Nasabah dalam hal apapun berkenaan dengan Kerugian apapun yang
  diderita oleh Nasabah yang disebabkan oleh atau timbul dengan cara apapun dari pelaksanaan atau pengimplementasian
  layanan oleh UOBI atau
  hal-hal apapun yang timbul daripadanya dan meskipun terdapat pelanggaran oleh UOBI tersebut terhadap
  kewajiban-kewajibannya kepada Nasabah.</p>
<p>11.2 UOBI tidak boleh bertanggung jawab kepada Nasabah berkenaan dengan Kerugian apapun yang disebabkan oleh atau
  timbul dari salah satu atau lebih kejadian atau hal-hal berikut ini, bagaimanapun penyebabnya atau kejadiannya:</p>
<p>(a) setiap ketidakcocokan antara peralatan milik Nasabah dan <em>Online Query Bank Guarantee Application</em>,
  termasuk tetapi tidak terbatas pada suatu hal yang merugikan, ganti kerugian, kerugian, gangguan, pelanggaran,
  penyimpangan atau kegagalan yang
  timbul dari penggunaan atau ketergantungan pada perangkat lunak perangkat keras komputer, perangkat elektronik,
  jaringan online dan/atau perambah (<em>browser</em>) Internet (seperti Netscape atau Microsoft);</p>
<p>(b) virus apapun, komponen yang rusak, cacat, pengurangan, membahayakan atau tidak berfungsi (malfungsi) dalam
  dan/atau kerusakan apapun, gangguan atau kegagalan dari perangkat lunak apapun (termasuk suatu Perangkat Lunak
  <em>Online Query Bank Guarantee Application</em>)
  atau suatu telekomunikasi, komputer atau peralatan atau sistem elektronik lainnya (baik dimiliki, dioperasikan atau
  dipelihara atau tidak oleh UOBI, Nasabah, suatu Pengguna Nasabah, atau orang lainnya manapun dan baik digunakan atau
  tidak dalam pemberian
  atau pengoperasian suatu Rekening atau Layanan), termasuk namun tidak terbatas pada:</p>
<p>(i) ketidakmampuan atau kegagalan dari suatu perangkat lunak, peralatan atau sistem untuk menerima dan/atau mengenali
  dan/atau secara tepat dan akurat menyimpan, memproses dan/ atau mengirim tanggal-tanggal atau data yang digabungkan
  atau didasarkan pada
  tanggal-tanggal, atau pemrosesan, penyimpanan dan/atau pengiriman dari suatu tanggal atau data yang tidak akurat
  berdasarkan ketidakmampuan atau kegagalan demikian dari peralatan atau sistem;</p>
<p>(ii) kegagalan baik dari perangkat lunak, peralatan atau sistem apapun (termasuk terminal apapun) untuk menerima,
  mengenali atau memproses suatu Kata Sandi atau ID Pengguna atau Instruksi; dan</p>
<p>(iii) pengiriman virus apapun ke perangkat lunak, peralatan atau sistem apapun;</p>
<p>(c) setiap kehilangan atau pencurian dari suatu ID Pengguna dan Kata Sandi, milik dari Pengguna Nasabah manapun;</p>
<p>(d) suatu kegagalan atau penolakan oleh UOBI untuk melakukan suatu instruksi apapun yang diberikan oleh Nasabah atau
  suatu Instruksi, yang dikarenakan oleh suatu perintah pengadilan,pemberitahuan, arahan atau suatu statuta, peraturan
  atau anggaran dasar;&nbsp;</p>
<p>(e) setiap kegagalan dari Nasabah dalam mengikuti instruksi, prosedur, arahan atau rekomendasi yang terbaru untuk
  menggunakan <em>Online Query Bank Guarantee Application</em>;</p>
<p>(f) setiap kerugian yang diakibatkan dari ketergantungan atau kepercayaan Nasabah terhadap suatu berita, laporan atau
  informasi lainnya apapun yang mungkin disediakan sebagai bagian dari atau dikirimkan melalui Layanan atau <em>Online
    Query Bank Guarantee Application</em>;</p>
<p>(g) setiap kerugian yang berkaitan dengan kegagalan sistem, kesalahan proses, perangkat lunak yang cacat, kesalahan
  operasi, kerusakan perangkat keras, kapasitas, kekurangan, kerentanan jaringan, kelemahan kendali, kurangnya keamanan,
  serangan yang berbahaya,
  insiden peretasan, aksi penipuan dan kemampuan pemulihan yang tidak memadai yang mungkin timbul meskipun UOBI telah
  melakukan upayanya yang terbaik;</p>
<p>(h) setiap pengungkapan informasi apapun kepada pihak-pihak ketiga yang timbul sebagai akibat dari kelalaian atau
  kegagalan dari Nasabah atau kelalaian atau kegagalan dari suatu Pengguna Nasabah untuk menjaga kerahasiaan ID Pengguna
  dan Kata Sandi;</p>
<p>(i) setiap penghentian, gangguan atau keterlambatan dalam pengiriman atau suatu intersepsi yang salah atas Instruksi
  apapun melalui suatu telekomunikasi, komputer atau peralatan atau sistem elektronik lainnya (baik dimiliki,
  dioperasikan atau dikelola
  atau tidak oleh UOBI atau oleh orang lainnya dan baik digunakan atau tidak dalam pemberian atau pengoperasian suatu
  Layanan <em>Online Query Bank Guarantee Application</em>);</p>
<p>(j) rusaknya atau hilangnya data apapun (baik yang disimpan dalam suatu peralatan, terminal atau sistem,baik dimiliki
  atau dioperasikan oleh UOBI atau Nasabah) atau selama transmisi melalui Internet atau suatu komputer atau peralatan
  elektronik atau telekomunikasi
  lainnya, terminal atau sistem yang digunakan atau dioperasikan oleh UOBI atau orang lainnya manapun baik sehubungan
  dengan atau tidak sehubungan dengan penyediaan atau pengoperasian dari suatu Layanan atau <em>Online Query Bank
    Guarantee Application</em>,
  termasuk kesalahan apapun yang timbul dalam pengiriman suatu data atau Instruksi;</p>
<p>(k) penghentian atau gangguan atas ketersediaan atau operasi <em>Online Query Bank Guarantee Application</em>;</p>
<p>(l) suatu ketidakakuratan atau ketidaklengkapan informasi apapun yang diperoleh dari penggunaan dari suatu fasilitas
  atau layanan apapun yang meliputi Layanan; dan</p>
<p>(m) pelanggaran apapun atas kewajiban atau tugas UOBI yang manapun kepada Nasabah yang disebabkan oleh atau yang
  timbul dari salah satu atau lebih kejadian-kejadian atau hal-hal yang ditetapkan dalam salah satu atau lebih sub-sub
  paragraf di atas dari
  Klausul 12.2 ini.</p>
<p>11.3 Tanpa mengurangi arti umum dari ketentuan-ketentuan di atas dan meskipun ada ketentuan yang berbeda dalam Syarat
  dan Ketentuan ini atau Syarat dan Ketentuan lainnya antara suatu UOBI dan Nasabah, UOBI tidak boleh dalam kejadian
  apapun diminta bertanggung
  jawab kepada Nasabah atas setiap Kerugian tidak langsung atau konsekuensial, atau atas ganti rugi punitif (yang
  bersifat denda), baik yang timbul dari suatu pelanggaran atas kewajiban UOBI kepada Nasabah atau yang lainnya.</p>
<p>11.4 Tidak ada pernyataan atau jaminan yang dibuat atau diberikan oleh UOBI kepada Nasabah atau seseorang lainnnya
  dan tidak ada kewajiban atau tanggung jawab yang dipikul oleh UOBI kepada Nasabah atau seseorang lainnya mengenai
  ketersediaan atau ketersedian
  terus-menerus atau pengoperasian suatu Layanan atau layanan atau fasilitas apapun melalui <em>Online Query Bank
    Guarantee Application</em> atau peralatan, sistem atau terminal telekomunikasi atau elektronik apapun (baik
  disediakan, dioperasikan atau
  dipelihara atau tidak oleh UOBI atau yang lainnya) meskipun ada ketentuan yang berbeda dalam Syarat dan Ketentuan ini.
</p>
<p>11.5 Tanpa mengurangi ketentuan yang ada dalam Syarat dan Ketentuan ini, Nasabah tidak boleh mengajukan suatu klaim
  atau memulai suatu proses tuntutan hukum terhadap UOBI sehubungan dengan suatu Kerugian yang terjadi atau yang
  diderita oleh karena pengadaan
  atau pemanfaatan <em>Online Query Bank Guarantee Application</em> atau suatu transaksi yang dilakukan melalui
  <em>Online Query Bank Guarantee Application</em> yang mana UOBI bertanggung jawab kepada Nasabah, lebih dari 1 (satu)
  tahun setelah akhir
  dari (i) tanggal ketika kejadian yang menyebabkan Kerugian tersebut terjadi; dan (ii) tanggal dari transaksi
  tersebut.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>12. Keadaan Kahar</strong></p>
<p>Dalam hal suatu UOBI tidak dapat mematuhi atau melaksanakan syarat-syarat dari Syarat dan Ketentuan ini, baik secara
  keseluruhan atau sebagian, oleh karena sebab-sebab di luar kendalinya yang wajar, termasuk (namun tidak terbatas pada)
  kerusakan atau
  kegagalan peralatan, sistem atau link transmisi, kebakaran, banjir, ledakan, kinerja unsur-unsur (alat-alat), bencana
  alam, tindakan terorisme, perang (dinyatakan atau tidak dinyatakan), kecelakaan, epidemi, pemogokan, larangan bekerja,
  pemadaman
  listrik atau kegagalan, perselisihan perburuhan, tindakan, tuntutan atau persyaratan Pemerintah Indonesia atau oleh
  sebab-sebab lainnya yang secara wajar tidak dapat diperkirakan untuk dihindari, maka pelaksanaan kewajiban UOBI
  sebagaimana yang dipengaruhi
  oleh sebab-sebab tersebut harus dibebaskan selama berlangsungnya peristiwa yang melumpuhkan tersebut di atas. UOBI
  tidak boleh diminta bertanggung jawab atas setiap keterlambatan, kerugian, ganti kerugian atau ketidak-nyamanan apapun
  dan bagaimanapun
  disebabkannya oleh atau yang timbul dari atau sehubungan dengan peristiwa yang melumpuhkan tersebut di atas.</p>
<p>&nbsp;</p>
<p><strong>13. Lain-Lain</strong></p>
<p>13.1 Setiap UOBI dapat mengamandemen, mengubah atau menambah syarat atau ketentuan apapun dari Syarat dan Ketentuan
  ini dengan memberikan pemberitahuan mengenai hal tersebut kepada Nasabah dengan cara apa pun yang dianggap sesuai oleh
  UOBI, dan setiap
  amandemen, perubahan atau tambahan demikian harus mulai berlaku antara Nasabah dan UOBI tersebut sejak tanggal yang
  disebutkan dalam pemberitahuan tersebut atau jika tanggal tersebut tidak disebutkan, sejak tanggal pemberitahuan
  demikian.</p>
<p>13.2 Jika yang manapun dari syarat-syarat dan ketentuan-ketentuan Syarat dan Ketentuan ini tidak atau menjadi tidak
  sah, tidak berlaku atau tidak dapat diberlakukan dalam hal apapun, syarat dan ketentuan tersebut tidak boleh
  mempengaruhi keabsahan, keberlakukan
  atau kedapat diberlakukannya setiap syarat atau ketentuan lainnya.</p>
<p>13.3 Syarat dan Ketentuan ini dapat, atas kebijaksanaan dari suatu UOBI, diterjemahkan ke dalam suatu Bahasa lainnya
  selain Bahasa Indonesia. Nasabah setuju bahwa terjemahan tersebut hanyalah akan untuk kemudahan saja dan teks
  terjemahan dalam Bahasa
  Indonesia akan berlaku dalam hal terjadi kerancuan, ketidaksesuaian atau kealpaan antara versi Bahasa Indonesia dengan
  teks hasil terjemahan tersebut.</p>
<p>13.4 Setiap dan semua pemberitahuan yang harus diberikan berdasarkan Syarat dan Ketentuan ini harus dikomunikasikan
  melalui pos, pengiriman faksimili, surat elektronik atau melalui <em>Online Query Bank Guarantee Application</em> atau
  melalui pesan online
  yang diposting di Situs Web. Jika dikirimkan melalui pos, pemberitahuan akan dianggap telah diterima empat puluh
  delapan (48) jam setelah pengiriman oleh UOBI ke alamat surat yang terakhir diberitahukan oleh Nasabah dan jika
  melalui pengiriman faksimili,
  surat elektronik, melalui <em>Online Query Bank Guarantee Application</em> atau melalui pesan online yang dikirimkan
  di Situs Web, segera setelah pengiriman.</p>
<p>13.5 Jika suatu UOBI memperkenalkan layanan baru sebagai bagian dari Layanan <em>Online Query Bank Guarantee
    Application</em>, UOBI tersebut dapat menetapkannya pada syarat-syarat tambahan yang akan diberitahukan kepada
  Nasabah sesuai dengan Syarat dan
  Ketentuan ini.</p>
<p>13.6 Para pihak setuju untuk mematuhi semua undang-undang perlindungan data yang berlaku dan undang-undang lainnya
  dengan tujuan yang sama atau yang serupa dalam semua yurisdiksi yang relevan.</p>
<p>13.7 Tunduk pada undang-undang yang berlaku mengenai pembuktian, masing-masing pihak setuju untuk tidak mengajukan
  keberatan atas penerimaan catatan/rekaman (termasuk rekaman komputer) dari pihak lainnya sebagai bukti dalam proses
  tuntutan hukum.</p>
<p>&nbsp;</p>
<p><strong>14. Hukum Yang Mengatur dan Yurisdiksi</strong></p>
<p>14.1 Syarat dan Ketentuan ini harus diatur oleh dan ditafsirkan sesuai dengan hukum Republik Indonesia.</p>
<p>14.2 Nasabah tunduk pada yurisdiksi non-eksklusif dari pengadilan-pengadilan Republik Indonesia sehubungan dengan
  setiap proses tindakan hukum yang dapat dimulai sehubungan dengan Syarat dan Ketentuan ini.</p>
<p>&nbsp;</p>
