<p><strong>TERMS AND CONDITIONS OF ONLINE QUERY BANK GUARANTEE APPLICATION SERVICE</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>1. DEFINITIONS AND INTERPRETATIONS</strong></p>
<p>1.1. In these Terms and Conditions, the following words and expressions shall have the meaning as defined below,
  unless the context otherwise specifies.</p>
<p>&quot;<strong>Terms and Conditions</strong> &quot; shall mean Terms and Conditions of this Online Query Bank
  Guarantee Application, together with all documents and additional requirements issued by PT Bank UOB Indonesia (UOBI)
  as may be applied by UOBI from time to time.</p>
<p>&quot;<strong>Application</strong>&quot; shall mean an application for registration of and change in the Online Query
  Bank Guarantee Application Service.</p>
<p>&quot;<strong>Applicable Laws</strong>&quot; shall mean all applicable laws and regulations, Laws, regulations,
  guidance, circular letters and notifications (either from any governmental bodies or authorities or autonomous
  organisations in relation to UOBI being a member or otherwise), both inside and outside Indonesia, which are
  applicable to UOBI and/or the Customer and/or to which UOBI and/or the Customer is subject.</p>
<p>&quot;<strong>Banking Day</strong>&quot; shall mean any day when UOBI is open for business in Indonesia.</p>
<p>&quot;<strong><em>Online Query Bank Guarantee Application</em></strong>&quot; shall mean a web-based banking service
  system provided by UOBI which enables the Customer to seek validation of any Bank Guarantees issued by UOBI by using
  any electronic or telecomunnication devices or any medium (including internet, computer or any other electronic or
  telecomunnication devices, terminals or systems or otherwise).</p>
<p>&quot;<strong>Customer</strong>&quot; shall mean a Party who agrees with these Terms and Conditions.</p>
<p>&quot;<strong>Company Administrator</strong>&quot; shall mean a person who is appointed by the Customer to manage and
  control an access and to use the Online Query Bank Guarantee Application and/or the Service by the Company Signatory
  and the Company User on behalf of the Customer.</p>
<p>&quot;<strong>Company Signatoryn</strong>&quot; bshall mean a person who is authorized by the Customer (either
  individually or jointly with another person or other persons) to use and operate the Service for and on behalf of the
  Customer.</p>
<p>&rdquo;<strong>Company User</strong>&rdquo;shall mean a person who is authorized by the Customer and/or Company
  Administrator to seek validation of any Bank Guarantees issued by UOBI through this Service.</p>
<p>&quot;<strong>Customer User</strong>&quot; shall mean any of the Company Administrator, the Company Signatory and the
  Company User, who is authorized by the Customer from time to time to access and use the Online Query Bank Guarantee
  Application. For avoidance of doubt, term "Customer User" shall include a person who is appointed and authorized by
  the Customer as: (a) both the Company Signatory and the Company Administrator; and (b) both the Company User and the
  Company Administrator, on a case by case basis.</p>
<p>&quot;<strong>Validation</strong>&quot;shall mean any application for checking the validity of any Bank Guarantees
  issued by UOBI which is submitted to UOBI through the Online Query Bank Guarantee Application:</p>
<p>(a) (a) by the Customer or the Company Signatory on behalf of the Customer;</p>
<p>(b) (b) upon which UOBI or an official of UOBI fairly believes that the said application, authority or instruction is
  from the Customer or the Company Signatory given on behalf of the Customer; or</p>
<p>(c) (c) by using an electronic signature (as defined in the Electronic Transactions Act as amended or supplemented
  from time to time, together with any relevant implementing regulations) from the Customer or the Company Signatory on
  behalf of the Customer.</p>
<p>&quot;<strong>Losses</strong>&quot; shall mean any and all errors, debts, losses (including indirect and
  consequential losses), damages, costs, charges and/or expenses in any nature whatsoever or howsoever incurred,
  including legal costs on a full indemnity basis.</p>
<p>&quot;<strong>Official</strong>&quot; shall mean any directors, officials, employees or officers of any UOBI.</p>
<p>&quot;<strong>Password</strong>&quot; shall mean any numbers, passwords, names, expressions, symbols or codes, either
  issued or provided by UOBI to the Customer User or otherwise, or selected by the Customer User which enables it to
  access and/or use the Service on behalf of or for the interest of the Customer and it shall include any other numbers,
  passwords, names, expressions, symbols or codes as issued, provided or selected as its replacement. </p>
<p>For avoidance of doubt,</p>
<p>&quot;<strong>Person</strong>&quot; shall include any natural persons, firms, associations, companies or legal
  entities.</p>
<p>&quot;<strong>Service</strong>&quot; shall mean any application for validation of any Bank Guarantees issued by UOBI
  to the Customer by using the Online Query Bank Guarantee Application (including, but not limited to, granting
  authority to the Customer User to make agreement about the matters as described in these Terms and Conditions on
  behalf of the Customer).</p>
<p>&quot;<strong>UOBI</strong>&quot; shall mean PT Bank UOB Indonesia, together with its branches, on a case by case
  basis. As the context may require, UOBI shall mean the Service Provider of the Online Query Bank Guarantee
  Application.</p>
<p>&quot;<strong>User ID</strong>&quot; shall mean any characters or identification numbers (either alphanumeric
  codes or otherwise) as issued and provided by UOBI to the Customer or in any other way as selected by the Customer to
  be used by the Customer User to access the Online Query Bank Guarantee Application Service which enables UOBI to
  verify and authenticate the identity of the said Customer User for its access to the Online Query Bank Guarantee
  Application and its Service, and it shall include any other characters and numbers provided or chosen as its
  replacement.</p>
<p>&quot;<strong>Bank Guarantee</strong>&quot;shall mean a written undertaking, either conditionally or unconditionally,
  as issued by the Bank for the benefit of the Customer, namely in the form of a guarantee. In the event that the
  Applicant fails to meet its obligations based on a contract underlying to claim for the Bank Guarantee, the Issuing
  Bank shall reimburse for monetary loss based on the terms of the Bank Guarantee. On the basis of the Bank Guarantee,
  the Beneficiary shall be reimbursed for an amount as set out upon presentation of a writing demand and/or any other
  documents as required in the Bank Guarantee, as evidence that the Applicant has failed to meet its obligations based
  on its underlying contract.</p>
<p>&nbsp;</p>
<p><strong>2. Application of Terms and Conditions</strong></p>
<p>2.1 These Terms and Conditions shall be an agreement between the Customer and UOBI, and those shall be applicable not
  only to the existing Service which is required or requested by or for the Customer, but also to all other services
  which may be opened in the future by the Customer.</p>
<p>&nbsp;</p>
<p><strong>3. Services</strong></p>
<p>3.1 The Service shall enable the Customer:</p>
<p>(a) to make online validation of any Bank Guarantees as issued by UOBI; and</p>
<p>(b) to check the recapitulation of any Bank Guarantees as issued by UOBI to the Customer for the last 1 (one) year.
</p>
<p>&nbsp;</p>
<p><strong>4. Password and User ID</strong></p>
<p>4.1 The Customer shall make its commitment to ensure that:</p>
<p>(a) none of the persons must access to, or have access to or knowledge of, any User ID or Password of any
  Customer User, except for the said Customer User;</p>
<p>(b) any Customer User:</p>
<p>(i) must not disclose the User ID and/or Password of the said Customer User to any other persons;</p>
<p>(ii) must immediately memorize/remember the said User ID and/or Password and destroy the envelope or document on
  which the User ID and/or Password is written;</p>
<p>(iii) must not write the said User ID and/or Password in any form; and</p>
<p>(iv) must immediately inform UOBI after the said Customer User has a reason to believe that a person may have been
  aware of the said User ID and/or Password.</p>
<p>&nbsp;</p>
<p><strong>5. Security</strong></p>
<p>5.1 The Customer shall agree to comply with and ensure that the Customer User is in compliance with the requirements
  of these Terms and Conditions and any other instructions or recommendations which may be issued by any UOBI to the
  Customer concerning security in relation to the use of the Online Query Bank Guarantee Application and its Service.
</p>
<p>5.2 The Customer acknowledges that security shall be the key concern in gaining an access to and the use of the
  Online Query Bank Guarantee Application and/or its Service, and the Customer agrees that it shall be fully responsible
  to set up, manage and review the setting of its security in relation to the access to and the use of the Online Query
  Bank Guarantee Application and/or its Service, computers or any other telecommunication or electronic devices or
  systems and information stored in it, and the control over the User ID or Password of the Customer User and access to
  the Online Query Bank Guarantee Application made or carried out, or addressed to be made or carried out, by the
  Customer or the Customer User. The Customer shall be responsible to bear any risks of unauthorized use and/or access
  to the Online Query Bank Guarantee Application and/or its Service, computers or any other telecommunication or
  electronic devices or systems and information stored in it, User ID and Password.</p>
<p>5.3 The Customer and/or the Customer User must notify the relevant UOBI immediately in the event that the Customer or
  a Customer User is aware of or suspects an unauthorized access to the Online Query Bank Guarantee Application and/or
  its Service or an unauthorized transaction or Instruction or in the event that the Customer suspects another person
  being aware of the User ID(s) and Password(s) of one Customer User or more. In the event of a breach or an alleged
  breach of security, the Customer must ensure that all the Customer Users change their Passwords immediately. The
  Customer agrees to meet all fair applications for assistance from UOBI and/or police immediately in order to attempt
  to recover any losses or identify actual or potential breach of security.</p>
<p>5.4 In the event that the Customer User no longer works for the Customer or is no longer authorized or instructed by
  the Customer to use the Online Query Bank Guarantee Application and/or its Service for any reasons whatsoever or in
  the event that the Customer suspects fraud on the part of the Customer User in relation to the use of the Online Query
  Bank Guarantee Application and/or its Service, the Customer must immediately:</p>
<p>(a) inform UOBI of any possibilities as referred to above;</p>
<p>(b) take all steps to ensure that the Customer User is replaced; and</p>
<p>(c) prevent further access to the Online Query Bank Guarantee Application and/or its Service, including, but not
  limited to, to submit an application or instruction to UOBI to revoke the User ID and Password of the Customer User.
</p>
<p>5.5 The Customer hereby requests and authorizes UOBI from time to time, without further authority or notification
  from the Customer, to act based on the application or instruction to reset any User ID and Password. In addition, the
  Customer agrees that UOBI shall not be responsible to the Customer or any third party for any losses or damages
  suffered by the Customer or any third party incurred from any unauthorized or fraudulent application or instruction.
</p>
<p>&nbsp;</p>
<p><strong>6. Other Obligations of Customer</strong></p>
<p>6.1 The Customer must not use or disclose any materials and/or information on the Website in relation to the Online
  Query Bank Guarantee Application and/or its Service, other than to access and use the Online Query Bank Guarantee
  Application and/or its Service. In addition, the Customer must ensure that neither Customer User must use or disclose
  a material and/or information on the Website in relation to the Online Query Bank Guarantee Application and/or its
  Service, other than to access and use the Online Query Bank Guarantee Application and/or its Service. The Customer
  further makes its commitment or undertaking not to reproduce, sell, distribute or in any way whatsoever, to allow any
  third party to gain access to the aforementioned materials and/or information provided by UOBI in or through the
  Online Query Bank Guarantee Application..</p>
<p>6.2 Copyright inside and contents stored on the Website (except for information in relation to data of the Customer)
  shall be owned by or licensed/permitted to be used by UOBI. Neither part nor parts of the said content can be
  reproduced, distributed, published, modified, displayed, transmitted, linked or sent, in any way or by any means,
  stored in an information search system without written consent of UOBI. Trademark and services displayed on this
  Website shall be sole and exclusive property of UOBI. Neither rights nor licenses shall be granted for any
  reproduction or use of the said trademark and services.</p>
<p>6.3 In the event that the Customer, or one of the Customer Users, receives or displays/shows any data or information
  from the Online Query Bank Guarantee Application and/or its Service which is not intended for the Customer, the
  Customer must immediately inform the relevant UOBI and ensure that UOBI is informed that the said information is so
  received, displayed and shown, and then the Customer must delete and destroy it and ensure that the said information
  has been so deleted and destroyed.</p>
<p>6.4 The Customer must ensure that:</p>
<p>(a) a person who is appointed by the Customer as the Company Administrator shall have sufficient knowledge and
  skill to properly operate and maintain all devices and software installed or used by the Customer to enable the
  Customer to gain access and use the Online Query Bank Guarantee Application and its Service;</p>
<p>(b) any Company Administrator shall gain full and complete knowledge of all features and setting of all software of
  the Online Query Bank Guarantee Application before the Customer begins to use the Online Query Bank Guarantee
  Application and/or its Service;</p>
<p>(c) any Company Administrator must operate and maintain all the devices and software as referred to in Article
  6.4 (a) above in a competent and correct manner, upon requirements of the Customer and based on procedures and
  requirements as may be specified from time to time by UOBI in connection with the Online Query Bank Guarantee
  Application and/or its Service; and</p>
<p>(d) in the event that the Online Query Bank Guarantee Application is provided for any companies of the relevant
  Customer, the Customer must appoint at least its Company Administrator to be a Company Administrator for all other
  companies.</p>
<p>6.5 The Customer shall be responsible for all actions taken by the said Company Administrator.</p>
<p>&nbsp;</p>
<p><strong>7. Company Signatory, Amended Mandate and Corporate Decision</strong></p>
<p>7.1 These Terms and Conditions must be in effect and survive, irrespective of any mandates from the Customer which
  may have been given or be later given to or received by UOBI in connection with a Service (both existing now and being
  further kept/maintained at the Bank).</p>
<p>7.2 For the purpose of Article 7.3, term "Amended Mandate" shall mean any additions, cessations or deletions from the
  list or replacement of a Company Signatory or any amendments, changes or revisions to scope, extent or limit of
  authority given to the Company Signatory by the Customer.
</p>
<p>7.3 UOBI shall have no liabilities to act and perform any Amended Mandates:</p>
<p>(a) kecuali pemberitahuan tertulis mengenai Perubahan Mandat telah diberikan kepada UOBI dalam suatu bentuk yang
  ditentukan oleh atau dapat diterima oleh UOBI dan sesuai dengan prosedur operasional dari UOBI;</p>
<p>(b) kecuali dan sampai dengan UOBI tersebut yakin bahwa Perubahan Mandat tersebut telah disahkan dengan sebagaimana
  mestinya oleh Nasabah; dan</p>
<p>7.4 Apabila UOBI diinformasikan oleh Nasabah bahwa ada suatu keputusan direksi dari Nasabah telah diambil atau suatu
  dokumen telah ditandatangani oleh Nasabah yang memberikan wewenang kepada seseorang atau orang orang untuk mengambil
  tindakan apapun atau
  untuk membuat serta mengadakan Syarat dan Ketentuan apapun atas nama Nasabah atau yang memberikan wewenang apapun
  kepada seseorang atau orang-orang untuk bertindak dengan cara apapun atas nama Nasabah, maka UOBI berhak untuk
  menganggap bahwa wewenang
  demikian telah diberikan secara sah kepada orang atau orang-orang tersebut dan belum dicabut oleh Nasabah sampai
  dengan pemberitahuan pencabutan telah diberikan kepada UOBI oleh Nasabah.</p>
<p>&nbsp;</p>
<p><strong>8. &nbsp; Service Costs</strong></p>
<p>8.1 No costs shall be paid for these Services. In the event of any changes in the future, it will be informed in
  writing to the Customer by letter.</p>
<p>&nbsp;</p>
<p><strong>9. Authority on Information Disclosure</strong></p>
<p>9.1 The Customer shall expressly and irrevocably authorizes and permits UOBI and its respective officials, at any
  time
  and from time to time, to inform, notify or disclose any and all explanations and information in relation to the
  Customer, a Customer User, an Account or an Instruction from any of the following persons:</p>
<p>(a) any companies in relation to UOBI;</p>
<p>(b) any Affiliates of the Customer which access and utilize the Online Query Bank Guarantee Application and its
  Service;</p>
<p>(c) all courts, governmental institutions or legal authorities in Indonesia and any other places where the said
  disclosure is required by law;</p>
<p>(d) any person who is considered appropriate in good faith by UOBI or any Officials for the purpose of providing the
  Services, including any agents, contractors or suppliers of third party services having mutually agreed to perform
  work or provide service for UOBI in connection with and which affect or may affect the operations of this Service.</p>
<p>For the purpose of Article 10.1, "Customer Affiliate" shall mean any persons, legal entities, partnerships, firms or
  other entities where the Customer, either directly or indirectly:</p>
<p>(i) has more than half of business capital or asset; </p>
<p>(ii) has power to perform 50% (fifty percent) or more of voting rights in the said entity;</p>
<p>(iii) has legal power to direct or give directions to the general management or administration of the said entity;
</p>
<p>(iv) has power to appoint more than half of members of the Supervisory Board, Board of Directors or any bodies
  legally representing the said entity; or</p>
<p>(v) has a right to run business of the said entity.</p>
<p>9.2 The provision of Article 10.1 shall be in addition to any other authority and permits from the Customer to any
  UOBI in connection with the use and/or disclosure of information in relation to the Customer, a Customer User, a
  Service or an Instruction.</p>
<p>&nbsp;</p>
<p><strong>10. Temporary Discontinuance, Changes and Termination of Online Query Bank Guarantee Application and Other
    Provisions</strong></p>
<p>10.1 The Online Query Bank Guarantee Application can be temporarily discontinued or terminated by UOBI at any time
  upon consideration of the Bank given to the Customer.</p>
<p>10.2 The Online Query Bank Guarantee Application can be changed by UOBI at any time, both in relation to any Service
  or any service provided through the Online Query Bank Guarantee Application or generally, by giving a notification
  thereof to the Customer.</p>
<p>10.3 The Customer can terminate these Terms and Conditions by at least giving a 30 (thirty) days prior written notice
  thereof to any UOBI.</p>
<p>10.4 The termination must not prejudice any rights of any parties which may have been obtained until the termination
  date, and rights to terminate these Terms and Conditions shall not be intended to make it exclusive, but it shall be
  in addition to any recovery or other rights, either existing now or in the future.</p>
<p>10.5 The Customer must ensure that none of the Customers, Customer Users, employees, agents or representatives shall
  take any actions, on or after the termination of these Terms and Conditions, which make security of the Online Query
  Bank Guarantee Application or any other system or security of the Customer of the Online Query Bank Guarantee
  Application hacked/compromised.</p>
<p>10.6 In the event that the Customer uses a Service provided by the Online Query Bank Guarantee Application, the said
  Customer shall be deemed to have agreed with all terms and conditions in relation to the provision of the said Service
  which is then applied by UOBI in providing the said Service.</p>
<p>&nbsp;</p>
<p><strong>11. Exceptions</strong></p>
<p>11.1 In addition to and without prejudice to any other rights or recovery which may be owned by any UOBI (by law or
  otherwise), insofar as the said UOBI acts based on or follows any Instructions in good faith, UOBI shall not be
  responsible to the Customer, in any event, in relation to any Losses suffered by the Customer arising or resulted in
  any way from the performance or implementation of the Service by UOBI or any matters arising therefrom, and in the
  event that there is a breach by UOBI of its obligations to the Customer.</p>
<p>11.2 UOBI shall not be responsible to the Customer in relation to any Losses arising or resulted from one or more
  incidents or the following matters, irrespective of its grounds or events:</p>
<p>(a) any incompatibility between any devices owned by the Customer and the Online Query Bank Guarantee
  Application, including, but not limited to, any adverse matters, damages, losses, interruptions, breaches, deviations
  or failure resulted from the use of or dependence on software, hardware, computer, electronic devices, online network
  and/or Internet browser (such as, Netscape or Microsoft);</p>
<p>(b) any viruses or any damaged, defective, reduced, dangerous or malfunctioning components in and/or any damages,
  interruptions, failure of any software (including a Software of the Online Query Bank Guarantee Application) or any
  computers or any other telecommunication or electronic devices or systems (whether or not it is owned, operated or
  maintained by UOBI, the Customer, a Customer User, or any other persons, and whether or not it is used in the
  provision or operation of an Account or a Service), including, but not limited to :</p>
<p>(i) incapability or failure of any software, devices or systems to receive and/or recognize and/or precisely and
  accurately store, process and/or send dates or data as combined or based on dates, or processing, storage and/or
  delivery from an inaccurate date or data based on the said incapability or failure of any devices or systems;</p>
<p>(ii) failure of any software, devices or systems (including any terminals) to receive, recognize or process a
  Password or User ID or Instruction; and</p>
<p>(iii) transmission of any viruses to any software, devices or systems;</p>
<p>(c) any loss or theft or a User ID and Password owned by any Customer User;</p>
<p>(d) any failure or refusal by UOBI to take any instructions given by the Customer or an Instruction, resulted from a
  court order, notification, direction or any statutes, regulations or articles of association;</p>
<p>(e) any failure of the Customer in following the most recent instructions, procedures, directions or recommendations
  to use the Online Query Bank Guarantee Application;</p>
<p>(f) any losses resulted from dependence or reliance of the Customer on any news, reports or any other information
  which may be available as part of or sent through the Service or the Online Query Bank Guarantee Application;</p>
<p>(g) any losses in relation to system failure, process errors, defective software, misoperation, damaged hardware,
  capacity, deficiencies, susceptible network, weak control, lack of security, dangerous attacks, hacking incidents,
  fraudulent actions and insufficient recoverability which may occur, although UOBI has made its best efforts;</p>
<p>(h) any disclosure of information to third parties resulted from negligence or failure of the Customer or the
  Customer User to keep the User ID and Password confidential;</p>
<p>(i) any discontinuance, interruption or late delivery or misinterception of any Instructions through any computers or
  any other telecommunication or electronic devices or systems (whether or not it is owned, operated or managed by UOBI
  or any other persons, and whether or not it is used in the provision or operation of a Service of the Online Query
  Bank Guarantee Application);</p>
<p>(j) any damaged or lost data (either it is stored in any devices, terminals or systems, or either it is owned by UOBI
  or the Customer) or during transmission, through Internet or any computers or any electronic or telecommunication
  devices, terminals or systems used or operated by UOBI or any other persons, whether or not it is in connection with
  the provision or operation of any Service or the Online Query Bank Guarantee Application, including any errors
  resulted from delivery of data or any Instructions;</p>
<p>(k) discontinuance or interruption of availability or operation of the Online Query Bank Guarantee Application;</p>
<p>(l) inaccuracy or incompleteness of any information received from the use of any facilities or services covering the
  Services; and</p>
<p>(m) any breaches of liabilities or duties by any UOBI to the Customer arising or resulted from one or more events or
  matters as specified in one or more subparagraphs above in this Article 12.2.</p>
<p>11.3 Without prejudice to general meaning of the aforementioned provisions and notwithstanding anything to the
  contrary in these Terms and Conditions or any other Terms and Conditions between any UOBI and the Customer, under no
  circumstances, UOBI must be held liable to the Customer for any indirect or consequential Losses, or punitive damages,
  either arising from a breach of obligations by UOBI to the Customer or otherwise.</p>
<p>11.4 Neither statements nor guarantees shall be made or provided by UOBI to the Customer or any other persons, and
  neither liabilities nor responsibilities shall be assumed by UOBI to the Customer or any other persons concerning
  availability or continuous availability or operation of any Service or any services or facilities through the Online
  Query Bank Guarantee Application or any telecommunication or electronic devices, systems or terminals (whether or not
  it is provided, operated or maintained by UOBI or otherwise), notwithstanding anything to the contrary in these Terms
  and Conditions.
</p>
<p>11.5 Without prejudice to the existing provisions in these Terms and Conditions, the Customer must not file a claim
  for or commence a legal proceeding process against UOBI in relation to any Losses incurred or suffered from the
  procurement or utilization of the Online Query Bank Guarantee Application or any transactions made through the Online
  Query Bank Guarantee Application for which UOBI shall be responsible to the Customer, more than 1 (one) year after the
  end of: (i) the date when an event causing the said Losses; and (ii) the date of the said transaction. </p>
<p>&nbsp;</p>
<p><strong>12. Force Majeure </strong></p>
<p>In the event that any UOBI fails to comply with or perform the requirements of these Terms and Conditions, either
  entirely or partly, for any reasons beyond its fair control, including (but not limited to) damage or failure of any
  devices, systems or transmission links, fire, flood, explosion, performance of elements (devices), natural disasters,
  act of terrorism, war (either declared or not declared), accidents, epidemic, strikes, lockouts, blackout or power
  outage, industrial action, Indonesian Government’s acts, demands or requirements or any other reasons which are fairly
  unpredictable to be avoided, the performance of UOBI’s obligations as affected by the said reasons must be released
  during occurrence of the said aforementioned paralyzing events. UOBI must not be held liable for any delays, losses,
  damages or inconvenience whatsoever and howsoever arising or resulted from or in connection with the aforementioned
  paralyzing events.</p>
<p>&nbsp;</p>
<p><strong>13. Others</strong></p>
<p>13.1 Any UOBI can amend, change or supplement any terms or conditions of these Terms and Conditions by giving a
  notification thereof to the Customer in any way as deemed appropriate by UOBI, and any amendments, changes or
  supplements must be effective between the Customer and the said UOBI as of the date as specified in the said
  notification or in the event that the date is not specified, as of the date of the said notification.</p>
<p>13.2 In the event of any requirements of these Terms and Conditions being or becoming illegal, invalid, unenforceable
  in any event, the said terms and conditions shall not affect legality, validity or enforceability of any other
  requirements.</p>
<p>13.3 These Terms and Conditions can be, on discretion of any UOBI, translated into a language other than Indonesian
  language. The Customer agrees that the said translation shall be for convenience only, and the translation in the
  Indonesian version shall be applicable in the event of ambiguity, inconsistency or omission between the Indonesian
  version and the said translation.</p>
<p>13.4 Any and all notifications which must be provided based on these Terms and Conditions must be delivered by postal
  service, facsimile transmission, email or through the Online Query Bank Guarantee Application or through online
  message posted on the Website. In the event that it is delivered by postal service, the notification shall be deemed
  to have been received within forty-eight (48) hours upon delivery by UOBI to the mail address as last notified to the
  Customer. In the event that it is delivered by facsimile transmission, email, through the Online Query Bank Guarantee
  Application or through online message posted on the Website, the notification shall be deemed to have been received
  immediately upon delivery.</p>
<p>13.5 In the event that any UOBI introduces a new service as part of the Online Query Bank Guarantee Application
  Service, the said UOBI can set it forth as additional requirements to be notified to the Customer based on these Terms
  and Conditions.</p>
<p>13.6 Parties mutually agree to comply with all applicable data protection laws and any other laws for the same or
  similar purpose in all relevant jurisdictions.</p>
<p>13.7 Subject to applicable law concerning substantiation, each Party agree not to file an objection to the receipt of
  records/recordings (including computer records) from the other party as proof of a lawsuit process.</p>
<p>&nbsp;</p>
<p><strong>14. Applicable Law and Jurisdiction</strong></p>
<p>14.1 These Terms and Conditions must be provided for and interpreted based on laws of the Republic of Indonesia.</p>
<p>14.2 The Customer shall be subject to non-exclusive jurisdiction of courts in the Republic of Indonesia in connection
  with any legal proceeding processes which can be commenced in connection with these Terms and Conditions.</p>
<p>&nbsp;</p>
